<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfragment">
    <title th:text="${task.name}">NANAKO Task</title>
    <meta charset="UTF-8">
</head>
<body>
<h1 th:text="${task.name} + ': ' + ${task.title}"></h1>

<br>

<h2>Details</h2>
<table>
    <table>
        <tr>
            <td th:text="'Priority: ' + ${task.taskPriority}"></td>
            <td th:text="'Status: ' + ${task.currentStatus}"></td>
        </tr>
        <tr>
            <td th:text="'Type: ' + ${task.taskTypeText}"></td>
            <td></td>
        </tr>
    </table>
</table>

<br>

<h2>Description</h2>
<p th:text="${task.description}"></p>

<br>

<h2>Comments</h2>
<table th:each="comment : ${task.comments}">
    <tr>
        <td th:text="${comment.author.fullName}"></td>
        <td th:text="${comment.date}"></td>
    </tr>
    <tr>
        <td th:text="${comment.text}"></td>
    </tr>
    <br>
</table>
</body>
</html>